*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navbar-root::before{
    content: '';
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}

#navbar-root{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 115px;
    position: sticky;
    z-index: 100;
}

#navbar-root ul{
    display: flex;
}

#navbar-root ul li{
    list-style: none;
    font-size: 1.3em;
}

#navbar-root ul li a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 3px 22px;
    border-radius: 20px;
}

#navbar-root ul li a:hover{
    color: black;
    background-color: white;
}
