body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0px;
  left: 0px;
}
.main-div{
    margin: 0px;
    padding: 0px;
    background: url("./img/man-2604149_640.jpg") no-repeat center center/cover;
}
.header{
  padding: 1px;
}
  .left {
    position: absolute;
    left: 34px;
    top: 15px;
    /* border: 2px solid orangered; */
    display: inline-block;
    background-color: black;
  }
  .left img {
    width: 100%;
    height: 60px;
    filter: invert(100%);
  }
  .left div {
    text-align: center;
    color: white;
  }
  .mid {
    /* border: 2px solid blue; */
    background-color: black;
    display: block;
    width: 33%;
    margin: 20px auto;
  }
  .right {
    position: absolute;
    right: 34px;
    top: 20px;
    /* border: 2px solid green; */
    display: inline-block;
  }
  .navbar {
    display: inline-block;
    height: 30px;
    margin: 10px;
  }
  .navbar li {
    display: inline-block;
    font-size: 15px;
  }
  .navbar li a {
    text-decoration: none;
    padding: 34px 23px;
    color: white;
  }
  .navbar li a:hover {
    text-decoration: underline;
    color: grey;
  }
  .btn {
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    z-index: 200;
  }
  .btn:hover {
    background-color: rgb(114, 108, 108);
    z-index: 200;
  }
  .container {
    border: 2px solid white;
    margin: 106px 80px;
    padding: 75px 75px;
    width: 25%;
    border-radius: 28px;
    background: linear-gradient(45deg, #2980B9, #6DD5FA, #ffffff, #6DD5FA, #2980B9) ;
  }
  .container h1 {
    color: red;
    text-align: center;
  }
  .form-group input {
    text-align: center;
    display: block;
    width: 85%;
    padding: 6px;
    border: 2px solid black;
    margin: 11px auto;
    border-radius: 23px;
  }
  .container button {
    display: block;
    width: 75%;
    margin: 3px auto;
  }