*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

#navbar::before{
    content: '';
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
}

#navbar{
    display: flex;
    align-items: center;
    top: 0px;
    position: sticky;
    z-index: 100;
}

#logo{
    margin: 10px 34px;
}

#logo img{
    width: 80px;
    height: 80px;
    border-radius: 20px;
    margin: 3px 5px;
}

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3em;
}

#navbar ul li a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 3px 22px;
    border-radius: 20px;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 575px;
    align-items: center;
    justify-content: center;
}

#home::before{
    content: '';
    background: url('./img/bg1.jpg') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 642px;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 25px;
    background-color: #f2f2f2;
}
#services .box:hover{
    transform: scale(1.1);
}
#services .box img{
    height: 160px;
    display: block;
    margin: auto;
}

#client-section::before{
    content: '';
    background: url('./img/bg.jpg') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 95%;
    z-index: -1;
    opacity: 0.4;
}

#client-section{
    position: relative;
    /* pointer-events: none; */
    z-index: 1;
}

#clients{
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-item{
    /* border: 2px solid red; */
    padding: 34px;
    margin: 4px;
    /* background-color: #f2f2f2; */
}

#clients .client-item img:hover{
   transform: scale(1.1);
}

#clients .client-item img{
    height: 100px;
}


#contact{
    position: relative;
}

#contact::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('./img/contact.jpg') no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.9rem;
    font-size: 1.1rem;
    border-radius: 9px;
    border: 2px solid black;
    background-color: white;
}

footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}

.h-primary{
    font-size: 3.8rem;
    padding: 12px;
}
.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    font-size: 1rem;
    margin: 12px;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
}

.btn:hover{
   cursor: pointer;
   background-color: black;
   color: #f2f2f2;
   transform: scale(1.1);
}

.center{
    text-align: center;
}
